<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>EditWareHouse</servlet-name>
        <servlet-class>controller.EditWareHouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetArchiveServlet</servlet-name>
        <servlet-class>controller.GetArchiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductByBrand</servlet-name>
        <servlet-class>dashboardController.ProductByBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSupplierDetails</servlet-name>
        <servlet-class>controller.GetSupplierDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStockController</servlet-name>
        <servlet-class>controller.CheckStockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>controller.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopDetails</servlet-name>
        <servlet-class>controller.ShopDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>dashboardController.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CouponProductList</servlet-name>
        <servlet-class>dashboardController.CouponProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCouponProduct</servlet-name>
        <servlet-class>dashboardController.CreateCouponProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountProductDetail</servlet-name>
        <servlet-class>dashboardController.DiscountProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>dashboardController.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportStaff</servlet-name>
        <servlet-class>dashboardController.ExportStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <servlet-class>purchaseorder.PurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportGoodDetail</servlet-name>
        <servlet-class>controller.ImportGoodDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>controller.OrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyDiscountServlet</servlet-name>
        <servlet-class>dashboardController.ApplyDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderServlet</servlet-name>
        <servlet-class>controller.CustomerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderDetail</servlet-name>
        <servlet-class>controller.CustomerOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>dashboardController.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>PaymentController.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnUrlServlet</servlet-name>
        <servlet-class>PaymentController.ReturnUrlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentStatusServlet</servlet-name>
        <servlet-class>dashboardController.UpdatePaymentStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderManagerServlet</servlet-name>
        <servlet-class>controller.ConfirmOrderManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackingOrderServlet</servlet-name>
        <servlet-class>PackingController.PackingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignPackingOrderServlet</servlet-name>
        <servlet-class>PackingController.AssignPackingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPackingOrdersServlet</servlet-name>
        <servlet-class>PackingController.MyPackingOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPackingDetailServlet</servlet-name>
        <servlet-class>PackingController.OrderPackingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportInvoiceServlet</servlet-name>
        <servlet-class>PackingController.ExportInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPackingServlet</servlet-name>
        <servlet-class>PackingController.ConfirmPackingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingOrderServlet</servlet-name>
        <servlet-class>ShipController.ShippingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignShippingOrderServlet</servlet-name>
        <servlet-class>ShipController.AssignShippingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyShippingOrdersServlet</servlet-name>
        <servlet-class>ShipController.MyShippingOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderShippingDetailServlet</servlet-name>
        <servlet-class>ShipController.OrderShippingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmShippingServlet</servlet-name>
        <servlet-class>ShipController.ConfirmShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleOrderServlet</servlet-name>
        <servlet-class>SaleController.SaleOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignSaleOrder</servlet-name>
        <servlet-class>SaleController.AssignSaleOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySaleOrders</servlet-name>
        <servlet-class>SaleController.MySaleOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSaleDetail</servlet-name>
        <servlet-class>SaleController.OrderSaleDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmSale</servlet-name>
        <servlet-class>SaleController.ConfirmSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialManagement</servlet-name>
        <servlet-class>dashboardController.FinancialManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandList</servlet-name>
        <servlet-class>dashboardController.BrandList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryList</servlet-name>
        <servlet-class>dashboardController.CategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBrand</servlet-name>
        <servlet-class>dashboardController.CreateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategory</servlet-name>
        <servlet-class>dashboardController.CreateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductGeneral</servlet-name>
        <servlet-class>dashboardController.CreateProductGeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductImg</servlet-name>
        <servlet-class>dashboardController.CreateProductImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductVariants</servlet-name>
        <servlet-class>dashboardController.CreateProductVariants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSize</servlet-name>
        <servlet-class>dashboardController.CreateSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>dashboardController.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>dashboardController.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SizeList</servlet-name>
        <servlet-class>dashboardController.SizeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaff</servlet-name>
        <servlet-class>dashboardController.CreateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>com.vnpay.common.VnpayReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>constant.error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInventoryCheck</servlet-name>
        <servlet-class>controller.CreateInventoryCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryCheckForm</servlet-name>
        <servlet-class>controller.InventoryCheckForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryChecklist</servlet-name>
        <servlet-class>controller.InventoryChecklist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryChecklistDetail</servlet-name>
        <servlet-class>controller.InventoryChecklistDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceStock</servlet-name>
        <servlet-class>dashboardController.BalanceStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteInventoryCheck</servlet-name>
        <servlet-class>staff.CompleteInventoryCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffChecklistDetails</servlet-name>
        <servlet-class>staff.StaffChecklistDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffChecklist</servlet-name>
        <servlet-class>staff.StaffChecklist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductByWarehouse</servlet-name>
        <servlet-class>dashboardController.ProductByWarehouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseCus</servlet-name>
        <servlet-class>SaleController.BrowseCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboard</servlet-name>
        <servlet-class>dashboardController.ManagerDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportInventoryCheck</servlet-name>
        <servlet-class>dashboardController.ExportInventoryCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArchiveServlet</servlet-name>
        <url-pattern>/archive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWarehouseServlet</servlet-name>
        <url-pattern>/addWarehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWareHouse</servlet-name>
        <url-pattern>/editWarehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetArchiveServlet</servlet-name>
        <url-pattern>/getArchive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductByBrand</servlet-name>
        <url-pattern>/productbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSupplierDetails</servlet-name>
        <url-pattern>/getSupplierDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStockController</servlet-name>
        <url-pattern>/check-stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/confirm-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/remove-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopDetails</servlet-name>
        <url-pattern>/shopDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/addstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CouponProductList</servlet-name>
        <url-pattern>/couponproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCouponProduct</servlet-name>
        <url-pattern>/createcouponproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountProductDetail</servlet-name>
        <url-pattern>/discountproductdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportStaff</servlet-name>
        <url-pattern>/exportstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <url-pattern>/purchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportGoodDetail</servlet-name>
        <url-pattern>/importGoodDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/orderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/order-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyDiscountServlet</servlet-name>
        <url-pattern>/apply-discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderServlet</servlet-name>
        <url-pattern>/customer-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderDetail</servlet-name>
        <url-pattern>/customerOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnUrlServlet</servlet-name>
        <url-pattern>/return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentStatusServlet</servlet-name>
        <url-pattern>/updatePaymentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderManagerServlet</servlet-name>
        <url-pattern>/manager-confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackingOrderServlet</servlet-name>
        <url-pattern>/packing-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignPackingOrderServlet</servlet-name>
        <url-pattern>/assignPackingOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPackingOrdersServlet</servlet-name>
        <url-pattern>/my-packing-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPackingDetailServlet</servlet-name>
        <url-pattern>/orderPackingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportInvoiceServlet</servlet-name>
        <url-pattern>/exportInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPackingServlet</servlet-name>
        <url-pattern>/confirmPackingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingOrderServlet</servlet-name>
        <url-pattern>/ship-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignShippingOrderServlet</servlet-name>
        <url-pattern>/assignShippingOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyShippingOrdersServlet</servlet-name>
        <url-pattern>/my-shipping-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderShippingDetailServlet</servlet-name>
        <url-pattern>/orderShippingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmShippingServlet</servlet-name>
        <url-pattern>/confirmShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleOrderServlet</servlet-name>
        <url-pattern>/sale-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignSaleOrder</servlet-name>
        <url-pattern>/assignSaleOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySaleOrders</servlet-name>
        <url-pattern>/my-sale-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSaleDetail</servlet-name>
        <url-pattern>/orderSaleDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmSale</servlet-name>
        <url-pattern>/confirmSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialManagement</servlet-name>
        <url-pattern>/financialmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandList</servlet-name>
        <url-pattern>/brandlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryList</servlet-name>
        <url-pattern>/categorylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBrand</servlet-name>
        <url-pattern>/createbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategory</servlet-name>
        <url-pattern>/createcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductGeneral</servlet-name>
        <url-pattern>/createproductgeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductImg</servlet-name>
        <url-pattern>/createproductimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductVariants</servlet-name>
        <url-pattern>/createproductvariants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSize</servlet-name>
        <url-pattern>/createsize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SizeList</servlet-name>
        <url-pattern>/sizelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaff</servlet-name>
        <url-pattern>/createstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/vnpayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInventoryCheck</servlet-name>
        <url-pattern>/create-inventory-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryCheckForm</servlet-name>
        <url-pattern>/inventory-form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryChecklist</servlet-name>
        <url-pattern>/inventory-checklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryChecklistDetail</servlet-name>
        <url-pattern>/inventory-checklist-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceStock</servlet-name>
        <url-pattern>/balance-stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteInventoryCheck</servlet-name>
        <url-pattern>/complete-inventory-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffChecklistDetails</servlet-name>
        <url-pattern>/staff-checklist-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffChecklist</servlet-name>
        <url-pattern>/staff-checklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductByWarehouse</servlet-name>
        <url-pattern>/product-warehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseCus</servlet-name>
        <url-pattern>/browse-cus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboard</servlet-name>
        <url-pattern>/managerDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportInventoryCheck</servlet-name>
        <url-pattern>/exportInventoryCheck</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
        <!-- hoặc tên file jsp khác, ví dụ home.jsp -->
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestPassword</servlet-name>
        <servlet-class>controller.requestPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>controller.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileSettingServlet</servlet-name>
        <servlet-class>controller.ProfileSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfile</servlet-name>
        <servlet-class>controller.ChangeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop</servlet-name>
        <servlet-class>controller.Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>controller.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportGood</servlet-name>
        <servlet-class>controller.ImportGood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleImport</servlet-name>
        <servlet-class>controller.HandleImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplier</servlet-name>
        <servlet-class>controller.EditSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchiveServlet</servlet-name>
        <servlet-class>controller.ArchiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWarehouseServlet</servlet-name>
        <servlet-class>controller.AddWarehouseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestPassword</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileSettingServlet</servlet-name>
        <url-pattern>/profileSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfile</servlet-name>
        <url-pattern>/changeprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/addSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportGood</servlet-name>
        <url-pattern>/importGood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleImport</servlet-name>
        <url-pattern>/handleImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplier</servlet-name>
        <url-pattern>/editSupplier</url-pattern>
    </servlet-mapping>
</web-app>
